<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="name">./logs</Property>
	</Properties>
	<ThresholdFilter level="debug" />
	<Appenders>
		<RollingFile name="Archivo" fileName="${name}/logs.log"
			filePattern="${name}/Datagrama-Julio-%d{HH-mm-ss-SSS}.log">
			<PatternLayout
				pattern=" %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="30 MB" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH-mm-ss-SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="Archivo" />
			
		</Root>
	</Loggers>
</Configuration>